go 1.24.0

use .

use (
	./pkg
	./proto
	./services/api-gateway
	./services/auth-service
	./services/cli-service
	./services/forge-service
	./services/incident-manager
	./services/metrics-service
	./services/notification-service
	./services/scheduler-service
	./services/core-service
)
