server:
  host: "0.0.0.0"
  port: 8080

database:
  host: "localhost"
  port: 5432
  name: "auth_service"
  user: "auth_user"
  password: "auth_password"

logger:
  level: "debug"
  format: "json"

environment: "dev"